@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 25px;
  font-weight: 700;
}

.form input,
.checkbox {
  width: 30px;
  height: 30px;
}

.form span {
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.inside-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
  gap: 10px;
}

.inside-block p {
  display: block;
  font-size: 20px;
}

form {
  margin-bottom: 20px !important;
}

.none {
  display: none;
}

.size {
  display: flex;
  gap: 40px;
}

.size input {
  display: block;
  width: 110px;
  height: 110px;
  position: relative;
  appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  transition: background .2s ease-in-out;
}

.size input:checked {
  background: #00000057;
}

.s25::after {
  content: "25cm";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
}

.s30::after {
  content: "30cm";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
}

.s35::after {
  content: "35cm";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
}

select {
  width: 200px;
  font-size: 20px;
}

select:focus {
  outline: none;
}

.hr {
  width: 2px;
  height: 100%;
  background: #000;
  position: absolute;
  left: -40px;
  bottom: 0;
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
  width: 50%;
  border-left: 1px solid #000;
  padding-left: 30px;
}

p span {
  font-weight: normal;
}

.label {
  font-size: 20px;
}

li {
  list-style-type: none;
  margin-left: 20px;
}

.navbar-brand {
  font-size: 40px;
}

.dropdown-item {
  opacity: 0.8;
}

.dropdown-item:hover {
  background: none;
  color: #fff;
  opacity: 1;
}

.off a {
  font-size: 20px;
}

@media only screen and (max-width: 977px) {
  .container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inside-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
  .size {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .size input {
    width: 50px;
    height: 50px;
  }
  .size input::after {
    font-size: 15px;
  }
  .bread {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .hr {
    display: none;
  }
  .right {
    border-top: 1px solid #000;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    border-left: 0px solid transparent;
  }
}

@media only screen and (max-width: 365px) {
  .inside-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
  }
  .form1 {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
}

.others {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.others a {
  color: rgba(255, 255, 255, 0.381);
  transition: all 0.2s ease-in-out;
  font-size: 32px;
}

.others a:hover {
  color: #fff;
  transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */